
<div class="span6 offset3 text-center boxy">
	<h1 class="h1-custom">

		Upload another lesson

	</h1>


	<%= simple_form_for @pic do |f|%>

	<h2>
		<%= f.input :lesson, label: 'Your latest lesson', :placeholder => '1,2, etc.' %>

		<%= f.input :image, label: 'Upload Image' %>

		<%= f.input :emotion, label: 'How did you feel?', :placeholder => 'Happy, Sad, etc.' %>
		<%= f.input :learned, label: 'What did you learn?', :placeholder => 'Install, Ruby, HTML, etc.' %>

		<%= submit_tag 'Save', :class => 'btn' %>
	
	</h2>
	<% end %>
</div>